<footer>
    <p>Personal source repository for <a href="http://www.dt-info.com">Damien Thirion</a><span style="float: right">Powered by <a href="https://github.com/klaussilveira/gitlist">GitList</a></span></p>
</footer>
